.layout {
  display: grid;
  grid-template-rows: 1.5fr 8fr 0.5fr;
  grid-template-columns: minmax(100px, 1fr);
  height: 100vh;
}
main {
  align-self: center;
}
.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-image: url('@/assets/img/Tatooine.webp');
  background-size: cover;
  background-position: bottom;
  margin-bottom: 1rem;
}
